.tab-content-show{
    top:23px;
}
.tab-content-show #frmTdkc {
    margin-top: -22px;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}

#frmDesk #CKWindowContainer {
    border: 0;
}
#frmDesk #CKWindowContainer .hdl {
    position: absolute;
    top: -22px;
}
